.container{
  width: 100%;
  margin: auto;
  margin-top: 7%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  justify-content: center;
}
.card{
  background-color: black;
  width: 450px;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.quote_name {
  font-size: 1.5rem;
  color: bisque;
  margin-bottom: 5px;
}
.author {
  font-size: 1rem;
  color: bisque;
}
.btn {
  display: block;
  border: 2px solid ;
  background: transparent;
  padding: 10px 15px;
  color:rgb(203, 170, 121);
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  background: rgb(203, 170, 121);
  color: black;
  box-shadow: 0 8px 16px 0 rgba(21, 21, 14, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
